* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #2271ff;
  --secondary-color: #e7edee;
  --tertiary-color: #b9c0c2;
}
body {
  background: var(--tertiary-color);
  font-family: "Poppins", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr 1fr;
  height: 100vh;
}
.ngeyo001 {
  width: 50px; /* Set desired width */
  height: 50px; /* Set desired height */
  border-radius: 50%;
  overflow: hidden;
}
